[2021-02-24 13:44] Wxrlds opened #1 "Structures not spawning correctly"
Overworld structures don't spawn correctly.
Strongholds are missing most connecting paths.
Villages, Igloos, Jungle Pyramids, Ocean Ruins, Pillager Outposts, Swamp Huts, Bastions are missing a few bottom layers.
Mineshafts, Ruined Portals don't generate at all.

Mod Version: 1.0.6

[2021-02-24 13:44] Wxrlds opened #2 "Rejoining Singleplayer teleports to spawn"
When Disconnecting from Singleplayer and joining the world again you get teleported to your spawn point that's specified in the spawns.json. This only happens if you are in the overworld and rejoin the world.

Mod Version: 1.0.6

[2021-02-24 13:44] Wxrlds opened #3 "[Suggestion] Toggle individual structures"
It would be nice if we were able to toggle if individual structures generate in the world.
This would allow pack makers to make a void overworld without for example villages but with a stronghold

[2021-02-24 13:44] Wxrlds opened #4 "[Suggestion] Allow for void end"
Title says it all, currently only overworld and nether can be a void world, the end is missing from that list.
The end would need to spawn with the End Portal and Obsidian Pillars so the Dragon fight doesn't break completely.

[2021-02-24 14:15] MelanX commented on #1
The first part will not be fixed. The structures do not contain a bottom layer or connection paths. For mineshafts and ruined portals I will try to find a solution.

[2021-02-24 14:54] MelanX commented on #3
I think the easiest way to do this is by creating a data pack with empty structure files which override the vanilla structures.
I would never be able to give mod support because it's way too much. I don't think that I will implement this even for vanilla. I can try a bit but I don't have much hope for this.

[2021-02-24 15:34] Wxrlds commented on #1
Does this mean Villages and so on don't generate with a floor in the houses and in the farms there is no water and farmland?

[2021-02-24 15:41] MelanX commented on #1
Unfortunately yes. That’s weird, I know :D

[2021-02-24 15:44] Wxrlds commented on #3
My intend with this suggestion is actually just making the stronghold spawn in a void world with nothing else. Maybe this is more reasonable as the only separate strucure would be the stronghold

[2021-02-24 15:52] MelanX commented on #3
Yes, this should be mich easier and could be the only thing everyone wants to have. I’ll look into it

[2021-02-25 16:28] MelanX commented on #1
Mineshafts are generated in mountains, so they will not be possible to generate. But the portals will be fixed and other structures will be improved, too!

[2021-02-25 20:32] #2 closed, assigned to MelanX

[2021-02-25 20:32] #1 closed, assigned to MelanX

[2021-02-26 13:10] Wxrlds commented on #3
How about also separating Bastions and Fortresses? Mainly because Bastions can give you some pretty overpowered loot relatively early into the game.

[2021-02-27 04:57] MelanX commented on #3
Yeah, could be useful.

[2021-02-27 23:50] #3 closed, assigned to nobody

[2021-02-27 23:50] #4 closed, assigned to MelanX

[2021-03-04 05:09] 5t3v3n opened #5 "Inventory issues on reloading world"
**Versions**

Minecraft: 1.16.5
Forge: 36.0.45
Skyblock Builder: 1.0.10
Modpack: Only this mod was used

**Describe the bug**

Upon reloading a saved world there is a sound as if the player is landing from a fall and all of the items in the player inventory fall to the ground (as if the player has died) this was tested with only this mod installed
**How to reproduce**

1. create skyblock world fol

[2021-03-04 14:50] #5 closed, assigned to MelanX

[2021-03-04 16:29] 5t3v3n commented on #5
Thanks for the quick fix 10/10 would bug report again!

[2021-03-04 16:31] MelanX commented on #5
No no, please no more bugs :D *just joking, report everything*

[2021-03-12 08:14] MelanX opened #6 "Structures don't generate correctly in overworld."
**Versions**

Minecraft: 1.16.4
Forge: 35.1.5
Skyblock Builder: 1.0.12

**Describe the bug**
Structures in overworld don't generate correctly.

**How to reproduce**
1. Set dimensions.overworld.structures to true
2. Create a new world
3. Only features generate, not real structures like villages, mansions and a few more.

**Expected behavior**
Structures like villages generate.

[2021-03-12 10:29] #6 closed, assigned to MelanX

[2021-03-14 10:10] benbenlaw opened #9 "a way of creating a water instead of air"
**Is your feature request related to a problem? Please describe.**
the ability to set a variable sea level instead of complete air

**Describe the solution you'd like**
config option

**Describe alternatives you've considered**

[2021-03-14 21:54] Wxrlds opened #10 "Automatically move spawn point if spawn point isn't valid"
**Is your feature request related to a problem? Please describe.**
If you die and haven't changed your spawnpoint using a bed you always respawn at the same position. This becomes bad if you destroy your spawn island to move it lower in the world causing you to always drop down with the potential to be stuck in a death loop.

**Describe the solution you'd like**
It would be nice to have a system i

[2021-03-14 22:01] Wxrlds commented on #9
Maybe this could be expanded so that you can specify what block to place until a specific layer. Like ``fill_world_until_y = 63`` and ``block_to_fill_until_layer = minecraft:air`` so this can be done with Lava, Diamond Blocks or whatever else.
If this were added the mod could allow to create Stoneblock like maps but with any block that you choose.

[2021-03-14 22:08] benbenlaw commented on #9
Yeah thats would be great

[2021-03-14 22:09] benbenlaw commented on #9
Also a way to maybe have a biome as well?

[2021-03-14 22:43] MelanX commented on #9
My plan is to implement a way to set in the config something like the flat world generation. So you can specify multiple layers, which block type the layer should be and the thickness of that layer. Additionally a config for sea level.
This allows a high configurable world.

I’m not sure about that. I already tried a bit with that but it wasn’t good. Maybe I need help with that and more inspiratio

[2021-03-16 20:28] MelanX commented on #9
closed by https://github.com/MelanX/SkyblockBuilder/commit/9fc2ac13058451559c1151f54ad5cebaf08fddbb (not uploaded yet but I forgot to add 'closes #9' to commit message and I will forget it when I push)

[2021-03-16 20:28] #9 closed, assigned to MelanX

[2021-03-17 20:01] #10 closed, assigned to MelanX

[2021-03-18 16:26] Wxrlds opened #11 "Add Obsidian Pillars to the End"
**Is your feature request related to a problem? Please describe.**
Currently there are no obsidian pillars in the end to heal the dragon when fighting it for the first time. When respawning the dragon, vanilla will generate the pillars.

**Describe the solution you'd like**
Generate the obsidian pillars when entering the end for the first time.

[2021-03-18 16:46] Wxrlds opened #12 "spawn config doesn't seem to work on /kill"
**Versions**
Minecraft: 1.16.5
Forge: 36.1.1
Skyblock Builder: skyblockbuilder-1.16.4-1.0.15
JEI: jei-1.16.4-7.6.1.71

**Describe the bug**
The spawn config doesn't seem to find valid spawn points when doing ``/kill``. When doing ``/skyblock spawn`` you get teleported to the correct block.

**How to reproduce**
1. Generate skyblock world
2. Destroy all blocks but one, make sure the block where you

[2021-03-19 08:09] #11 closed, assigned to MelanX

[2021-03-19 08:09] #12 closed, assigned to MelanX

[2021-03-21 16:18] MelanX opened #14 "Create command broken"
**Versions**
Minecraft: 1.16.4
Forge: 35.1.5
Skyblock Builder: 1.0.17

**Describe the bug**
Create command works even if you're already in a team.

**How to reproduce**

1. Enable create command in config
2. use /skyblock create
3. use it again

**Expected behavior**
Error message if already in a team

[2021-03-21 17:26] #14 closed, assigned to MelanX

[2021-03-25 17:14] kreezxil opened #16 "multiplayer non-team mode"
I see that your mod, and i know you indicated this, is really designed for teams. **However**, I would like to be by default assign each player that logs into a server to their own team if configured to do say "team_mode=true" like if that were false, each person instant gets the default island. But if I configure that a specific island is to be had, then they or the team naturally would get one.

[2021-03-26 04:08] MelanX commented on #16
It’s a good solution which is already possible with the ability to create an own team (config option). It would have no sense if I would add a second config option for something similar. Your way would cause a lot of islands being generated which I try to avoid. However, the join command is a good command. I knew I forgot a good one. Will add it.

[2021-03-26 04:08] #16 closed, assigned to MelanX

[2021-03-27 13:18] True-Protocol opened #17 "Nether not generating trees or ores"
**Versions**
Minecraft: 1.16.5
Forge: 36.1.0
Skyblock Builder:  1.0.17 (just tested and it still exists in 1.2.0)
Modpack: (My own custom pack)

**Describe the bug**
When creating a skyblock world with normal nether, ores and trees do not generate.

**How to reproduce**

1. set dimensions.nether default = true
2. set dimensions.nether.structures enabled = true, disable-fortress = false, disable-ba

[2021-03-27 13:41] MelanX commented on #17
I need more information. There are templates for issues, you could’ve used the bug report template. I want all information in this template. Additionally your config values. (Maybe config values are enough for now, only changed ones should be fine)
https://github.com/MelanX/SkyblockBuilder/blob/1.16.x/.github/ISSUE_TEMPLATE/bug_report.md <— Template

[2021-03-28 14:25] True-Protocol commented on #17
Thank you very much. I have never written a bug report on Github before, so thank you for your patience with me. I could not find where i could change the label to a bug, but hopefully my report is up to snuff with your template :)

[2021-03-28 17:03] MelanX commented on #17
Thank you for reporting this! I haven't tried this since I changed some other stuff.

[2021-03-28 17:21] #17 closed, assigned to MelanX

[2021-03-28 20:01] MaoamDEV opened #19 "Ability to change distance between islands"
**Describe the solution you'd like**

As written in the title it would be awesome to change the distance between the islands via the config.

**Describe alternatives you've considered**

Already tried to build the islands manually, but this breaks the use of commands.

[2021-03-28 20:03] MelanX commented on #19
Already done in 1.2.0
https://github.com/MelanX/SkyblockBuilder/commit/87b2003ed63c2daa73370a0eabe00d680373e3ca

[2021-03-28 20:03] #19 closed, assigned to MelanX

[2021-04-03 21:49] Ultrasquid9 opened #20 "whitelist/blacklist structure and feature generation per dimension"
**Is your feature request related to a problem? Please describe.**
It is annoying to have to manually figure out and blacklist certain features/structures from spawning.

**Describe the solution you'd like**
a way to blacklist (or whitelist) feature spawning per dimension. for example, it could look like this:

dimension-feature-blacklist = ["minecraft:overworld", "good_nights_sleep:nightmare"]
wh

[2021-04-06 02:54] Rams59 opened #21 "Bug with Twilight Forrest"
Hey,
i have a bug with Twilightforrest and your Mod. Whenever i start a Skyworld and go to the Forrest i have a normal world without any Structures or Trees eventhough the Biomes are marked korrekt. It must be a correlation between your mod and theirs cause a normal world generates a normal Forrest

1.16.5

[2021-04-06 19:27] Ultrasquid9 commented on #21
Its an annoying thing with the way this mod acts. this mod prevents all features from spawning, to make the overworld look cleaner, but it also prevents modded features from spawning as well. you can use the config to force twilight forest features to generate.

[2021-04-06 19:37] MelanX commented on #21
Yes, I'm working hard on it. I'm trying to fix this bug as fast as possible.

[2021-04-07 02:00] Ultrasquid9 opened #23 "doesn't work with structure gel API"
**Describe the bug**
structures placed with structure gel's gel usually have the gel transformed into air. however, if an island uses structure gel in it, the gel does not get replaced by air.

**How to reproduce**
1. create an island using structure gel
2. create a new world with the new island
3. see that the structure gel wasn't replaced by air

**Expected behavior**
the structure gel gets repl

[2021-04-09 20:37] MelanX commented on #21
fixed by https://github.com/MelanX/SkyblockBuilder/pull/24/commits/8ce8fec7d5be4ea37cefb8f38b42549f5b45cf28

[2021-04-09 20:37] #21 closed, assigned to MelanX

[2021-04-10 08:10] MelanX commented on #23
I will report it to the Structure Gel API devs. It’s not my fault, I use vanilla methods to load and print the schematic in the world. They need to fix the vanilla saving or printing.
Will link that issue when opened.

[2021-04-10 11:28] MelanX commented on #23
Reported: https://gitlab.com/modding-legacy/structure-gel-api/-/issues/17

[2021-04-10 17:42] CelestialPhoenix opened #25 "Option to set the starting dimension."
**Is your feature request related to a problem? Please describe.**
I'm building a skyblock pack based in the Nether, however only the Overworld is available as a starting dimension.
This would also be useful for other pack-builders who want to design a modded dimension challenge, or gate the Overworld through a skyblock stage.

**Describe the solution you'd like**
A config option to control the st

[2021-04-10 17:46] noeppi-noeppi commented on #25
I think if this is done, no numerical ids should be used as dimensions also have textual ids (e.g. `minecraft:the_nether`).

[2021-04-11 00:45] MelanX commented on #25
Sounds interesting. I’ll look into it. And as noeppi said: it wouldn’t be with numerical ids but with textual ids.

[2021-04-11 00:49] MelanX commented on #20
At the moment, this isn’t possible. I don’t think That this will be possible anytime because I would need to add compat for each mod/dimension.

[2021-04-13 19:39] #25 closed, assigned to MelanX

[2021-04-18 16:27] kreezxil opened #27 "Players added to teams when acceptor is on a bottom half slab spawn into the void"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.4
Skyblock Builder: 1.4.2
Modpack: Sky Stream Madness

**Describe the bug**

When players are accepted or invited to an island, when that is finalized if the request or accept was accepted such that one is on a bottom half slab, their spawn is set to the next full block below the bottom half-slab. And thus the eternal death loop. Where the spawn above th

[2021-04-21 16:33] MelanX opened #28 "Structures/features in nether are not applied by whitelist"
**Versions**
Minecraft: dev
Forge: dev
Skyblock Builder: dev

**Describe the bug**
Structures/features in nether are not applied by whitelist

**How to reproduce**
1. Make whitelists empty
2. Go to nether
3. Find structures/features

**Expected behavior**

completly void

[2021-04-22 11:01] kreezxil opened #29 "Locating a structure that isn't whitelisted takes like forever and crashes servers with too long tick time"
https://paste.ubuntu.com/p/TXj4q6VwV6/

it was just a timeout and the only thing I recognize in the traces is skyblock builder.

If it's nothing you can fix, just retitle this to something meaningful and close it.

[2021-04-23 09:43] MelanX commented on #27
Sadly, I can't reproduce it. Tried different methods with half slabs (bottom and top) and I never spawned in void.
Could you provide a video for that?

[2021-04-23 09:43] #28 closed, assigned to MelanX

[2021-04-23 09:43] #29 closed, assigned to MelanX

[2021-04-23 14:06] kreezxil commented on #27
when we invited them while on a full blocks it worked. it was when we
invited them on bottom half slabs.

Make sure you can't place a torch on the half-slab, because if you can it's
a top half-slab.

I'll start a test world shortly and see if i can duplicate it. it's
possible it was a mod conflict that went away when some mods got removed.

On Fri, Apr 23, 2021 at 4:43 AM MelanX ***@***.***> wrote

[2021-04-28 16:00] MelanX opened #30 "Stronghold generates even if not enabled"
1.4.6
default config
locate can't find it but it generates

[2021-04-30 18:08] #30 closed, assigned to MelanX

[2021-05-01 19:32] Wxrlds opened #31 "Blocks with no collision box are considered a valid respawn point"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.16
Skyblock Builder: skyblockbuilder-1.16.4-1.4.7.jar

**Describe the bug**
Block with no collision box like signs are considered a valid respawn point

**How to reproduce**
1. Create new Skyblock world
2. Replace the block below the spawn point (the one that's marked when executing ``/skyblock spawns``) with a block without a collision box (Sign, Saplin

[2021-05-03 18:10] #31 closed, assigned to MelanX

[2021-05-04 09:22] noeppi-noeppi opened #32 "Rendering issues of the bounding box"
**Versions**

Minecraft: 1.16.5
Forge: Doesn't matter
Skyblock Builder: 1.16.4-1.5.0
Modpack: None

**Describe the bug**
The more far out you travel, the more buggier the rendering of the bounding box gets when holding the structure saver.

**How to reproduce**

1. Create a new world
2. Teleport far out (at least a million blocks to see the results better, it also occurs just a few thousand block

[2021-05-04 09:34] noeppi-noeppi commented on #32
Because it's you here the code that should fix it (not tested though):

`RenderHelperWorld.loadProjection(matrixStack, area.minX, area.minY, area.minZ);`

and then

`WorldRenderer.drawBoundingBox(matrixStack, buffer, 0, 0, 0, area.maxX - area.minX, area.maxY - area.minY, area.maxZ - area.minZ, 0.9f, 0.9f, 0.9f, 1);`

[2021-05-05 18:58] MelanX commented on #27
Because I could not reproduce it, could you test if this still happens in 1.5.0+? This version fixed a bit stuff with spawn positions.

[2021-05-05 18:59] #32 closed, assigned to MelanX

[2021-05-05 20:45] MelanX opened #33 "Set individual spawns for special templates"
**Is your feature request related to a problem? Please describe.**

All templates can only use one spawns.json file. That means that all islands need to be similar.

**Describe the solution you'd like**

Defining the default island spawns as normal. Additionally you should be able to define a list of templates which should use a list of spawn points.

**Describe alternatives you've considered**

N

[2021-05-05 20:51] MelanX opened #34 "Better structure saver tooltip"
When 2 corners were selected, the tooltip should say "Right click to save", not "Shift right click to select corner"

[2021-05-05 21:06] scitor opened #35 "Server doesn't start with version 1.5.1"
**Versions**
Minecraft: 1.16.5
Forge: 36.1.16
Skyblock Builder: 1.5.1
Modpack: SkylandColonies beta1

Following error when trying to start server with mod installed:
[code]

**How to reproduce**
1. install mod on dedicated server
2. start server
3. observe error

**Expected behavior**
normal server start, no errors, mod working as expected ;)

**Screenshots**
uh... no

[2021-05-06 12:21] kreezxil commented on #27
Problem has not recurred. go ahead and close this if desired.

On Wed, May 5, 2021 at 1:58 PM MelanX ***@***.***> wrote:

[2021-05-06 13:13] benbenlaw opened #36 "customizable templates on servers"
now i dont know how possible it is but what if the command
"/skyblock manage teams createAndJoin"
 had something like
"/skyblock manage teams createAndJoin template <template_name>"

[2021-05-06 16:46] #35 closed, assigned to MelanX

[2021-05-06 19:23] #27 closed, assigned to MelanX

[2021-05-06 19:25] MelanX commented on #36
I don't feel like it. Maybe in future with better solution but at the moment, I can't do it.

[2021-05-06 19:25] #36 closed, assigned to MelanX

[2021-05-08 11:56] laceflower opened #37 "Players spawning on top of Pollution of the Realms pollution blocks"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.0
Skyblock Builder: 1.4.7
Modpack: Create From Scratch

**Describe the bug**

A player with too much pollution on their island will spawn on top of the blocks in the sky, repeatedly dropping them to their death and killing them.

**How to reproduce**

1. Create a new island.
2. Generate sulfur or carbon blocks via any method (smelting or cobble generator

[2021-05-08 14:16] MelanX commented on #37
I think that could be fixed in 1.5.0. Try with this version again (because idk what you mean. do you have more mods added?)

[2021-05-08 15:22] #34 closed, assigned to MelanX

[2021-05-08 22:49] kreezxil opened #38 "[feature request] default spawn island protection enabled"
spawnprotection= in server.properties doesn't always work still. In order to protect one must add a chunk protection mod or use some command blocks. It would be nice if the mod made this start island protected against everyone not op.

[2021-05-13 08:06] Ganjalf-Amsterdoom opened #39 "Namespace documentation"
Hello,

in the forge config file forge-common.toml there's a configuration called "default worldtype", it require the "registry namespace", how do i get it? I've tried "skyblockbuilder:skyblock" to no results.

Thank you for your time.

[2021-05-13 08:09] MelanX commented on #39
It’s "skyblockbuilder:custom_skyblock". Will be changed in 1.17 to your guess because it makes more sense.

[2021-05-13 08:09] #39 closed, assigned to MelanX

[2021-05-13 08:28] Ganjalf-Amsterdoom commented on #39
Thank you so much for the ultra fast reply! :D

[2021-05-13 16:50] MelanX opened #40 "Single biome does only work with Overworld"

[2021-05-13 16:56] MelanX opened #41 "Option for overworld normal"

[2021-05-23 12:53] Wxrlds opened #42 "Fences are considered a valid respawn block"
**Versions**
Minecraft: 1.16.5
Forge: 36.1.23
Skyblock Builder: skyblockbuilder-1.16.4-1.5.4
Modpack: https://www.curseforge.com/minecraft/modpacks/spirited-dynamics/files/3318100

**Describe the bug**
Kind of the same as https://github.com/MelanX/SkyblockBuilder/issues/31 but with Fences and Fence Gates (and probably every other block that acts as if it were 1,5 blocks tall)

**How to reproduce**

[2021-05-30 16:32] #40 closed, assigned to MelanX

[2021-05-30 16:32] #42 closed, assigned to MelanX

[2021-05-30 16:32] MelanX commented on #41
closed by https://github.com/MelanX/SkyblockBuilder/commit/0c460df9e370888a9eb4eb253ced5b942916ec10

[2021-05-30 16:32] #41 closed, assigned to MelanX

[2021-06-03 16:24] MelanX commented on #37
Hello?

[2021-06-07 06:10] niemandvs opened #43 "failed to load java.lang.IllegalStateException"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.25
Skyblock Builder: skyblockbuilder-1.16.4-1.5.6.jar
Modpack:
not release

**Describe the bug**

**How to reproduce**

1. start mod with minecraft forge version 36.1.25
2.  get error java.lang.IllegalStateException for skyblockbuilder
3.

**Expected behavior**

**Screenshots**

[crash-2021-06-07_07.59.53-fml.txt](https://github.com/MelanX/SkyblockBuilde

[2021-06-07 06:38] MelanX commented on #43
Please fill out everything. Otherwise I will close this.

[2021-06-07 07:18] niemandvs commented on #43
is there any info more i dont have modpack its a new creation by me to create starting island and so on

[2021-06-07 07:29] noeppi-noeppi commented on #43
The problem is that you try to delete the old config even if it does not exist. The correct approach would be to use `Files.deleteIfExists` here. Also your should not throw an exception if it fails because some operating systems prevent deletion of files that are opened in another program (which in this case could be forge having the config file open). In that case I think it would be the best to

[2021-06-07 09:48] #43 closed, assigned to MelanX

[2021-06-08 14:54] darknesschaos opened #44 "Initial spawn should not be in the nether dimension"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.25
Skyblock Builder: 1.16.4-1.6.0
Modpack: N/A

**Describe the bug**

Creating a new world starts the player in a nether themed world, which has just infinite gray fog and no skybox, using a nether portal brings the player to the overworld.

**How to reproduce**

1. Create new world with skyblock world type, this works with the default template.

**Expec

[2021-06-08 15:57] darknesschaos commented on #44
for some reason the spawn defualt dimension was the_nether I changed it to the overworld and this seems to have fixed the issue

[2021-06-08 20:28] MelanX commented on #44
Need to fix the default config.

[2021-06-09 21:24] darknesschaos opened #45 "Nether generates with overworld biomes"
**Versions**

Minecraft: 1.16.5
Forge: 36.1.31
Skyblock Builder: 1.16.4-1.6.0
Modpack: N/a

**Describe the bug**

The nether generates with the overworld sky and biomes

**How to reproduce**

1. generate world, making sure that the spawn world is the overworld in the config
2. go to the nether

**Expected behavior**

The nether should have nether biomes and skybox

**Screenshots**

![2021-06-09_17

[2021-06-11 19:22] MelanX commented on #45
Can you provide a seed? Can't find that kind of biome in nether.
Yes, I also tried `locatebiome`

[2021-06-11 20:06] darknesschaos commented on #45
Seed was not specific, and I get it when generating multiple worlds.

Just to walk you through, I use GDLauncher and create a new instance with Forge 1.16.5 v36.1.31
I install SkyBlockBuilder 1.16.4-1.6.0 on that new instance
run once to generate config files and close
Set the Spawn dimension in common-config.jason5 to overworld
run the instance again
create a new world with world type "Skyblock",

[2021-06-12 07:53] MelanX commented on #45
Oh, single biome is true by default? That’s the real issue, thank you! I think I have to look at the whole default config.

[2021-06-12 08:09] darknesschaos commented on #45
Yeah, it is. Also, should single biome affect both the overworld and the nether even though only overworld is specified?

[2021-06-12 08:14] MelanX commented on #45
Oh true, that is an issue, too :D

[2021-06-12 15:12] #44 closed, assigned to MelanX

[2021-06-12 15:12] #45 closed, assigned to MelanX

[2021-06-13 20:59] KyBeeS opened #46 "Creating a new team"
Currently helping the managing ATM6 Sky, some players in multiplayer are reporting not being able to create or join a team even on a new world as it says "Already in a Team" no matter what commands used to leave or create a new team. Not sure if this is a recently fixed issue or not but I can reproduce it as well

[2021-06-13 21:02] KyBeeS commented on #46
Formatting from players incorrect

[2021-06-15 03:12] KyBeeS commented on #46
Ok second look, it seems that a real called spawn is created at start and doesn't allow anyone to join or make a team until that fake team is deleted

[2021-06-15 05:33] MelanX commented on #46
Okay.. which version do you/they use?
If 1.6.1, I just found the problem and will fix it later today.

[2021-06-15 18:22] #46 closed, assigned to MelanX

[2021-06-17 14:33] #37 closed, assigned to MelanX

[2021-06-22 08:30] MelanX opened #47 "Command suggestions not working on server well"
**Versions**
Minecraft: dev
Forge: dev
Skyblock Builder: dev

**Describe the bug**
Command suggestions not shown on server

**Solution**
Client has information about all the data, too. Packets, yay.

[2021-07-04 02:20] StellaBiscuit opened #48 "Multiple Mods with Skyblock Type World crahes when loading new chunks"
**Versions**
Minecraft: Forge 1.16.5
Forge: 36.1.X (36.1.0 to 36.1.32)
Skyblock Builder: 1.6.2
Modpack: Custom Made
Serene Seasons : 4.0.1.119
Snow Under Trees : v1.1.4

**Describe the bug**
Each time a new chunk is loaded (this INCLUDE upon world creation) the game crashes, Not Enough Crashes cannot identify the mods involved and I simply did some trial and error

**How to reproduce**
1. Install

[2021-07-04 19:11] StellaBiscuit commented on #48
Ok so it seems that multiple mods can cause the issue so I think it's a bug with this mod that causes rdm crashes when exploring

[2021-07-13 14:49] noeppi-noeppi opened #49 "curios compat"
You can fill in the info yourself later

[2021-07-14 10:41] pm065 opened #50 "Allow changing the dimension the skyblock island and the player spawn in"
I had a cool modpack idea that involved a skyblock in the Nether, but currently Skyblock Builder does not allow this. If possible, could there also be a list of dimensions that become void worlds, so that later on the player could access other dimensions which would also be empty? For example, you spawn in the Nether, but you can access the Undergarden to start a second void island there.

[2021-07-14 11:18] MelanX commented on #50
It’s already possible. You can set the spawn dimension in config and enable/disable which dimensions should be normal dimension (otherwise void). Modded dimensions need to add their own void option, I only can provide vanilla dimensions as void.

[2021-07-14 11:18] #50 closed, assigned to MelanX

[2021-08-20 13:11] goosewoman opened #51 "Air blocks in template not preserved"
**Versions**
Minecraft:  1.16.5
Forge: 36.2.0
Skyblock Builder: 1.6.3
Modpack: no other mods besides libx

**Describe the bug**
I'm trying to make a stoneblock map with a surface with the preset `minecraft:bedrock,250*minecraft:stone,minecraft:lava`. But the stone in this preset fills the structure I have which doesn't have any structure void blocks. (default template is the same)

**How to reprod

[2021-08-20 13:18] MelanX commented on #51
Default template doesn’t have any air if I recognize correctly. It’s made with structure void.
The structure from the screenshot doesn’t look like the default template. If you used this instead, please send me your structure and I will test it. I’ll test it with the default template when at home, too.

[2021-08-20 13:38] goosewoman commented on #51
[template.zip](https://github.com/MelanX/SkyblockBuilder/files/7021836/template.zip)

I've attached the template I made.

[2021-08-20 16:53] MelanX commented on #51
I tried your template. I spawned in stone but the structure was created with air. You just forgot to set correct spawn points? Try to find your structure in spectator mode. *But I don't understand why it doesn't search for the next valid spawn*

[2021-08-21 07:47] #49 closed, assigned to MelanX

[2021-08-21 13:24] goosewoman commented on #51
Hmm, I did check in spectator mode but the structure was filled with stone blocks for me. Now that I've re-tested it it works fine. I'm not sure what went wrong with my initial tests, I've not changed anything since yesterday.

It was probably a mistake on my part somewhere. But if it happens again I'll let you know. For now we can consider it solved I guess.

[2021-08-21 22:35] MelanX commented on #51
Nice to hear :)

[2021-08-21 22:35] #51 closed, assigned to MelanX

[2021-09-12 06:01] #33 closed, assigned to MelanX

[2021-09-12 06:01] #47 closed, assigned to MelanX

[2021-09-25 15:19] Tismas opened #53 "Spawn/home position in stoneblock world"
I've made a 1,16,5 stoneblock type modpack using skyblock builder and it works great but when someone breaks a block on which they should spawn running command `/skyblock home` they spawn on the very top of the world which is not ideal.

It'd be nice if instead of searching for block above the spawn it would try to find closest block to spawn

Or alternatively spawn the player where it would norma

[2021-09-25 21:07] MelanX commented on #53
Will be in 1.16 version in next update within the next hour.

[2021-09-25 21:18] #53 closed, assigned to MelanX

[2021-09-28 01:15] Darkosto opened #54 "Allow Config Option to Change the Frequency of Structure Generation"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
May we have the ability to change config options related to how often structures spawn. For example, I would like to increase the frequency of Fortresses and Bastions in the Nether.

**Describe alternatives you've considered**
I've attempted to alter this with datapacks but cannot find a so

[2021-09-29 20:54] MelanX commented on #54
I looked a bit into it today. I saw two things which are possible.
1. Using datapacks - You said that you didn’t find a way to do it but it is possible to change how often structures do generate. As you can see [here on the fandom page](https://minecraft.fandom.com/wiki/Custom_world_generation), you can set structures with separation and spacing. It’s a bit more complicated with this mod because i

[2021-10-01 17:49] MelanX opened #55 "spawn in leaves"
you know, you are me

[2021-10-01 18:12] Darkosto commented on #54
I just tested this with only SkyBlock Builder, Libx, and JEI: The mod crashes when going to the Nether or the End. Every config is default. You may want to pull the build from CF

[2021-10-01 18:17] Darkosto commented on #54
Crash reports:
https://pastebin.com/L5acCcjB
https://pastebin.com/NH5g3mLu
https://pastebin.com/devk6cWK

[2021-10-01 21:56] #54 closed, assigned to MelanX

[2021-10-02 18:33] #55 closed, assigned to MelanX

[2021-10-19 17:23] MelanX commented on #48
No problem with Snow Under Trees in 1.17.1
Crash still occurs with Serene Seasons in 1.17.1, but can't test in dev environment because I can't use the Curse maven to implement it and set breakpoints in their code. They probably should add a null check.

Should test it with 1.16.5 but I think that a null check in these mods would fix the problem. This could add new issues but crashes should be fixe

[2021-10-25 09:01] Ethern8ai opened #56 "Nether wont generate as default"
**Versions**

Minecraft:  1.17.1
Forge: 37.0.103
Skyblock Builder: 2.0.23
Modpack: Void'n'Nether. still unpublished, not much other mods that arent client side and visual

**Describe the bug**
The Nether do not manage to spawn as default even with the appropriated configuration:

    "Nether": {

      // Should nether generate as in default world type? [default: false]
      "Default": true
    }

[2021-10-25 15:45] MelanX commented on #56
Can't reproduce. Did you change anything else in the config? If yes, please post your whole config and I'll try :)

[2021-10-25 20:23] Ethern8ai commented on #56
{
  "Dimensions": {

    "End": {

      // Should end generate as in default world type? [default: false]
      "Default": true,

      // Should the main island be generated as normal? [default: true]
      "mainIsland": true
    },

    "Nether": {

      // Should nether generate as in default world type? [default: false]
      "Default": true
    },

    "Overworld": {

      // Should overwo

[2021-10-25 21:29] MelanX commented on #56
Look at your latest.log. Does it throw any json exception? I think yes. Try a json5 validator to find out whether your syntax is correct.
If raw json5 is to complicated to edit, I recommend using the ingame config screen to edit the config. This will not destroy your config file with wrong syntax :)

[2021-10-25 21:50] Ethern8ai commented on #56
Damn yes, there is an error on the line: "offset"
I thought syntax errors would always crash the game (used to fix those ones)
Good tips, will double check my edits with validators!
fixed the line , retested, all great, it was my error
Thank you, great job and sorry ^^'

[2021-10-25 21:50] #56 closed, assigned to MelanX

[2021-10-31 08:13] CLittleLunaC opened #57 "Commands not working"
**Versions**

Minecraft: 1.16.5
Forge: 36.2.8
Skyblock Builder: 1.6.11
Modpack: Own custom modpack

**Describe the bug**

The commands are not valid. I am in creative with cheats on and I am unable to modify the spawn of my custom island.
![2021-10-31_01 11 08](https://user-images.githubusercontent.com/41792970/139574058-0406cb92-c8a2-48fc-b471-71a6aa746c43.png)
![2021-10-31_01 09 21](https://user

[2021-11-01 21:24] djoveryde opened #58 "Nether loading blank?"
I seem to be having an issue with generating a normal nether. It only seems to generate an empty nether. I'm running 1.16.5.

{
  // Setting this to false will disable the reminder to use the new config
  "_reminder": false,

  "Dimensions": {

    "End": {

      // Should end generate as in default world type? [default: false]
      "Default": true,

      // Should the main island be generated

[2021-11-01 23:28] djoveryde commented on #58
Fixed the issue, the overworlds level.dat had to be edited manually to change the nether and End back to vanilla generation (I couldn't wipe the worlds folder as players are playing on the server, so had to modify on the fly). Any changes to the config doesn't change the level.dat gen unless you wipe the world folder so it regenerates.

[2021-11-01 23:28] #58 closed, assigned to MelanX

[2021-11-02 02:17] MelanX commented on #58
It’s because another world type is needed. Otherwise nearly all features don’t work :)

[2021-11-02 05:47] MelanX commented on #57
Did you use world type "Skyblock"?

[2021-11-06 20:15] CLittleLunaC commented on #57
I believe I did make the world using world type sky block I have to double check.

[2021-11-06 20:19] CLittleLunaC commented on #57
Just made a new world to check and I spawned on the island. But the command still isn't working. But I does seem the guesses I made for adjusting the spawn did work...

[2021-11-06 23:10] MelanX commented on #57
I don't understand why... For me it works with your Forge and Skyblock Builder version.
Maybe send your log?

[2021-11-08 19:57] CLittleLunaC commented on #57
[latest.log](https://github.com/MelanX/SkyblockBuilder/files/7499739/latest.log)
Here is the latest log, I have a sinking feeling that it is some kind of conflict.

[2021-11-08 20:13] MelanX commented on #57
You have Bongo installed which deactivates a lot of commands because you shouldn’t be able to use these commands.
To setup your modpack for that, just remove or disable Bongo. After this, you can use it again :)

[2021-11-08 20:21] CLittleLunaC commented on #57
Alright I didnt know that it blocked commands

[2021-11-09 05:37] #57 closed, assigned to MelanX

[2021-11-09 18:55] bobo6 opened #59 "Custom World"
Its not an issue more a Question.

Is there a way to set the custom template i made as default for singleplayer?

[2021-11-09 18:57] MelanX commented on #59
Yes, that's how I did it in my own modpack: https://github.com/MelanX/GardenofGlass-QuestbookEdition/blob/master/config/forge-common.toml
This will set the default world type to `Skyblock`.

[2021-11-09 18:57] #59 closed, assigned to MelanX

[2021-11-09 19:05] bobo6 commented on #59
so when i want a specific template its skyblockbuilder:custom_skyblock_template right?

[2021-11-09 19:16] MelanX commented on #59
Oh... No, sorry. If you have only one template, you just need to set it as in the link.
If you have multiple ones, it depends on your MC version. In 1.16.x, it's just replacing the `template.nbt` file. In 1.17.1 it should be the first entry in the template config list I guess. I don't remember correctly, but I think your using 1.16.x anyways (because that's what most users do).

[2021-11-09 19:30] bobo6 commented on #59
now I understand that many thanks for the quick help

[2021-11-18 11:26] MelanX opened #60 "Command to export the current inventory"
For start inventory

[2021-11-18 11:27] MelanX opened #61 "Start inventory - curios compat"

[2021-11-18 18:26] #60 closed, assigned to MelanX

[2021-12-11 15:03] MelanX opened #62 "Inventory command exports in wrong format"
Version: 1.17.1-2.0.x

[2021-12-19 06:20] #62 closed, assigned to MelanX

[2021-12-20 11:33] Wxrlds opened #63 "/locatebiome does not work"
**Versions**
Minecraft: 1.16.5
Forge: 36.2.22
Skyblock Builder: SkyblockBuilder-1.16.4-1.6.12.jar
Modpack: No other mods except for LibX

**Describe the bug**
The command ``/locatebiome`` does not find biomes

**How to reproduce**
1. Generate new skyblock world
2. Open F3 and look in which biome you are in
3. Try to ``/locatebiome`` that biomes
4. Wait until it fails

**Expected behavior**
The com

[2021-12-20 11:42] MelanX commented on #63
I realized this is an issue on Saturday and tried to fix it, including the whole Sunday. I have no idea how to fix it. As I’m focusing on porting everything properly to 1.18.1, I’m trying to fix other stuff first and then re-try to fix this in 1.18.1. Since it’s the same problem in both versions, it should be easy to backport this fix. Until that, I add the help wanted label.

[2021-12-20 12:02] Wxrlds commented on #63
Could it be because you've changed the biome generation?
Like when I create a world with the seed ``1234`` with the default generator the biome at 0,0 is a snowy_tundra.
When I create the same world with the skyblock generator the biome at 0,0 is mountains.

![image](https://user-images.githubusercontent.com/42120270/146764309-e66ec323-a9c9-4c61-af19-dff21b32ee51.png)

![image](https://user-images

[2021-12-20 12:23] MelanX commented on #63
Oh, i Never checked this. I don’t know if that makes a difference but maybe I should first start to try changing this behavior.

[2021-12-23 17:33] #63 closed, assigned to MelanX

[2022-01-22 13:12] Dilnu opened #64 "Nether worldgen suppression isn't working in 1.18.1"
### Minecraft version

1.18.1

### Skyblock Builder version

1.18.1-3.2.2

### Forge version

39.0.20

### The latest.log file

https://paste.ee/p/8082C

### Issue description

I have nether worldgen set to off (https://gist.github.com/Dilnu/689521ce29a194e2775335fc344f0ad1) but when I go through a nether portal I'm still seeing normal terrain generation.

### Steps to reproduce

Create a new worl

[2022-01-22 13:16] Dilnu commented on #64
Hmm, this seems to be a mod interaction. I'll try to determine which mod is causing this.

[2022-01-22 13:24] Dilnu commented on #64
Hmm... even with all my mods I can't reproduce this on new worlds.

[2022-01-22 13:24] #64 closed, assigned to nobody

[2022-01-26 20:58] ashytastic opened #65 "/locatebiome command can't find Biomes"
Hello!

Whenever I try and locate a biome on my server it tells me it can't find a biome within reasonable distance. This issue also applies to the biome I'm currently in. I figured this might be related to the mod and wanted to raise attention towards this issue, as I personally had issues getting flowers to spawn on my world and thought my world was bricked (only had Badlands).

Hopefully this i

[2022-01-26 21:08] MelanX commented on #65
Could you please provide all the required information to reproduce the issue? I already fixed this kind of issue and it would good to know which version you use and all the other stuff in the form when creating a new issue.

[2022-02-01 01:19] Stephen7890 opened #66 "Main End Island Portal Bug"
### Minecraft version

1.18.1

### Skyblock Builder version

1.18.1 - 3.2.2

### Forge version

39.0.10

### The latest.log file

https://www.toptal.com/developers/hastebin/raw/fuhanifego

### Issue description

The problem is when you enter the end you, and beat the ender dragon you can't leave the game without dying

![image](https://user-images.githubusercontent.com/98720453/151898809-5e2887b2-

[2022-02-01 02:11] Stephen7890 commented on #66
I found another bug. The bug is when you load the world again in the end. The end platform will disappear, that might also be the bug about the end gateway.

Steps to Reproduce:
1. Stand on the End Platform
2. Log out
3. Log back in

[2022-02-01 17:29] MelanX opened #67 "End platform disappears when re-logging"
I found another bug. The bug is when you load the world again in the end. The end platform will disappear, that might also be the bug about the end gateway.

Steps to Reproduce:
1. Stand on the End Platform
2. Log out
3. Log back in

_Originally posted by @Stephen7890 in https://github.com/MelanX/SkyblockBuilder/issues/66#issuecomment-1026412667_

[2022-02-01 18:21] MelanX commented on #66
It seems as it's not still not fixed, whoopsi.

[2022-02-02 17:12] #66 closed, assigned to nobody

[2022-02-02 17:12] #67 closed, assigned to MelanX

[2022-02-02 18:39] #65 closed, assigned to nobody

[2022-02-05 19:20] Bluperman949 opened #68 "Skyblock Builder crashes Minecraft trying to get GameProfile of player on world load"
### Minecraft version

1.17.1

### Skyblock Builder version

1.17.1-2.0.32

### Forge version

37.1.1

### The latest.log file

https://gist.github.com/Blooperman949/7646faf8c059192a76291c016c4a1848

### Issue description

When a player tries to join a world which has the Skyblock world type, Skyblock Builder attempts to grab that player's GameProfile, which I assume is used for teams. For some re

[2022-02-05 19:49] MelanX commented on #68
I already fixed it in 1.18 a few days ago. Didn't plan to fix it in 1.17 but because you reported it, I backported the fix. It *should* work. Would be cool if you could test it with the newest version. If it works fine, you can just close this issue. If it's still a problem, I'll look deeper into the problem.
New version: `1.17.1-2.0.33`

[2022-02-05 21:56] Bluperman949 commented on #68
Praise be to you, thank you! That was the fastest response ever from a dev.
It works in GDL now using the new version, both alone and in my modpack.

[2022-02-05 21:57] #68 closed, assigned to nobody

[2022-02-19 17:26] b12arr0 opened #69 "1.18.1 crashes with just Skyblock Builder and LibX enabled"
### Minecraft version

1.18.1

### Skyblock Builder version

1.18.1-3.2.7

### Forge version

39.0.79

### The latest.log file

https://gist.github.com/b12arr0/8548098320273ca7909b27ceb82210f3

### Issue description

Trying to build first modpack. :)  I want it to be Skyblock. I'm using Skyblock Builder with the above version of MC, Forge, and Skyblock builder. I'm also using LibX 1.18.1-3.1.10.

[2022-02-19 17:38] #69 closed, assigned to nobody

[2022-02-19 21:30] b12arr0 commented on #69
Verified working in 1.18.1-3.2.8.  Thanks for the very quick turnaround!

[2022-02-19 23:31] ShiroSFX opened #70 "Starting in Void Custom Dimension"
### Describe your idea

Hey,

Can you add the possibility of starting in, void custom dimension (datapack) other than the vanilla one?
Or mabbe, modded one?

I created a void world and I want the player to start in this dimension without void the 3 bases dim.

I'm with the 1.16 version.

Thanks.

[2022-03-11 14:47] remplerus opened #71 "Selecting custom template doesn't work, always loads up default template"
### Minecraft version

1.18.1

### Skyblock Builder version

1.18.1-3.2.8

### Forge version

39.1.2

### The latest.log file

https://gist.github.com/remplerus/b2873d3323d59b81f9ee31d7433a10f9

### Issue description

If I try to select one of my 8 custom templates, it always uses default template instead of the selected one. Neither the DONE button or via clicking twice is working.

### Steps to

[2022-03-13 13:27] b12arr0 opened #72 "1.18.2 support"
### Describe your idea

Hey MelanX,   thanks for all the work you do on your mods.  I was wondering if you could update Skyblock Builder to 1.18.2?  Thanks again!

[2022-03-13 13:45] MelanX commented on #72
I'm working on it. It's a bit more difficult because world gen stuff changed a lot.

[2022-03-13 14:55] #71 closed, assigned to MelanX

[2022-03-13 21:15] MelanX commented on #70
Sorry for the late response.
This is a hugh change, even if it doesn't sound like it. It could break too many modpacks when updating. To prevent this, I need to write to much compatibility code. Since 1.16 is not the focus anymore, it's too much work for this version. That's not cool for modpack authors, but I have a lot to do, even with all my 1.18 stuff. Sorry for that, I hope you find another s

[2022-03-13 21:15] #70 closed, assigned to nobody

[2022-03-18 21:44] remplerus opened #74 "[1.18] Adding direction to look at when spawning in config"
### Describe your idea

As I'm making a skyblock modpack with multiple templates, I faced one problem:

I always look in a direction i don't want to. So i thought, as we can set spawnpoints in config, it could also be worth adding the direction where you should look, when you first spawn. (cause i don't do 360s every time I play a modpack)

[2022-03-19 02:14] MelanX commented on #74
Is this what you’re looking for? https://melanx.github.io/SkyblockBuilder/1.18.x/config/spawn/#direction
If not, I don’t fully understand exactly what you suggest.

[2022-03-19 13:30] remplerus commented on #74
not really. you have introduced multiple spawnpoints back in 1.16, and now with multiple templates, it's easier to move the direction from the config to the template json as you will have different spawn islands where it would be better to look at a different direction than on another island.

[2022-03-19 16:23] MelanX commented on #74
Okay, I'll implement that in 1.18.2 when finished porting.

[2022-03-21 12:32] #72 closed, assigned to nobody

[2022-03-21 12:32] #74 closed, assigned to nobody

[2022-03-26 10:47] MelanX commented on #23
They closed the issue a long time ago. I implemented something in my Structure Saver item to ignore air. This is a workaround.
I know that it would still place the structure gel blocks, but it's not worth the effort. If you create structures by using the structure gel api mod, just replace all blocks with structure voids before saving the structure, or use the Structure Saver item and ignore air.

[2022-03-26 10:47] #23 closed, assigned to MelanX

[2022-03-26 12:25] MelanX commented on #48
Fixed since 1.18.2 releases

[2022-03-26 12:25] #48 closed, assigned to MelanX

[2022-04-02 16:26] Joshernoob opened #75 "Command missing"
### Minecraft version

1.16.5

### LibX version

LibX-1.16.3-1.0.76

### Skyblock Builder version

SkyblockBuilder-1.16.4-1.6.14

### Forge version

36.2.26

### The latest.log file

https://zerobin.net/?0b2b1eab27394262#YbZIXPO5AmGeIxtbykdcJT+HbtWD8wXeebr/4Zv1YGA=

### Issue description

I have a modpack with this mod as the main world generation mod, more recently people have been playing multip

[2022-04-02 20:11] MelanX commented on #75
Did you turn that option on in the [config](https://melanx.github.io/SkyblockBuilder/1.16.x/config/utility/#create-own-team)?

[2022-04-04 15:22] Joshernoob commented on #75
seems I did not do this as it was not referenced on the mods curse forge page will try and see if it helps them

[2022-04-10 21:41] MelanX commented on #75
Did it help? If yes, feel free to close this issue. If it didn't, tell me. If there's no answer, I'll close this issue within the next few days.

[2022-04-26 20:22] crazyjongen opened #76 "/reload does not exist"
### Minecraft version

1.16.5

### LibX version

 LibX-1.16.3-1.0.76

### Skyblock Builder version

 SkyblockBuilder-1.16.4-1.6.14

### Forge version

36.2.34

### The latest.log file

https://gist.github.com/crazyjongen/b3ea03e01f284fbb3c2d8f0dc4517ec5

### Issue description

i am working on my first modpack which is a skyblock so i need this mod i got the world type butt i got stuck at the spawn

[2022-04-26 20:25] MelanX commented on #76
Do you have cheats enabled?

[2022-04-27 14:10] crazyjongen commented on #76
yes i do and im also in creative i can use other commands to like /gamemode

[2022-04-27 14:17] MelanX commented on #76
That is weird, because `/reload` is a vanilla command and my mod doesn’t even touch this command. Maybe another mod disables this command?
Oh, and another thing: your latest.log tells something about a missing mod -> game doesn’t even load

[2022-04-27 14:56] crazyjongen commented on #76
what mod im pretty new in this world so thank you for telling me that

edit: i missed item filter but i already added that a few minutes ago but still thank for trying to help me

[2022-04-27 15:00] MelanX commented on #76
Okay. So now, you need to find out why `/reload` isn't present. Since this mod has nothing to do with that, I close this issue.

[2022-04-27 15:00] #76 closed, assigned to nobody

[2022-05-11 18:31] Warbringer12 opened #77 "serene seasons bug"
### Minecraft version

1.16.5

### LibX version

1.16.3-1.0.76

### Skyblock Builder version

1.16.4-1.6.14

### Forge version

1.16.5

### The latest.log file

https://pastebin.com/neKuM3JM

### Issue description

started up world and immediately crashed

### Steps to reproduce

_No response_

### Other information

SereneSeasons-1.16.5-4.0.1.125-universal

[2022-05-11 18:43] MelanX commented on #77
Duplicate of #48 which is fixed in newer versions. In 1.16.x, the other mods could fix this issue as described here: https://github.com/MelanX/SkyblockBuilder/issues/48#issuecomment-946939305
If I would need to fix it, I had to make a lot of breaking changes, so this will not be fixed in this "old" version, sorry.

[2022-05-11 18:43] #77 closed, assigned to nobody

[2022-05-11 18:45] Warbringer12 commented on #48
:(

[2022-05-18 06:03] Svenstihl2 opened #78 "Island description and picture"
### Describe your idea

Hello, I have to say it's a really good mod, I'm just missing something, because I want to offer different islands, but I haven't found a function for the island selection and I don't know which island is which by the name. That's why I thought it would certainly be possible to choose, a different view with a picture and description of the island?!

Here's an example.. The

[2022-05-18 06:14] MelanX commented on #78
Sounds like a good idea! I like it. I’ll add it when I have time.

[2022-05-25 13:49] #78 closed, assigned to nobody

[2022-05-25 13:54] MelanX commented on #78
More information about setting this up here: https://melanx.github.io/SkyblockBuilder/1.18.x/packdev/packdev/#configuring-templates

[2022-05-25 19:12] goldenapple3 opened #79 "Upload 1.16 version to Modrinth"
### Describe your idea

Thank you for publishing your mods to Modrinth, but would you please consider also uploading the last 1.16.5 versions of LibX and Skyblock Builder?

[2022-05-25 19:51] MelanX commented on #79
Yeah, can do it next week

[2022-05-25 21:02] #75 closed, assigned to nobody

[2022-05-25 21:03] MelanX commented on #75
"Next few days" - good joke, me

[2022-05-26 06:00] MelanX commented on #79
"Next week" - good joke, me

[2022-05-26 06:00] #79 closed, assigned to nobody

[2022-05-27 19:34] rovenfaded opened #80 "Biome settings not working (1.18.2)"
Tried to make a skyblock world with only minecraft:the_void as biome. I've tried multiple inputs, but nothing seems to be working. Documentation is unhelpful.

  "World": {

    // A list of biomes for each dimension.
    // You can not use this for the end dimension. The end dimension will always have it's five biomes.
    // These are resource lists. See https://noeppi-noeppi.github.io/LibX/io/g

[2022-05-27 21:21] MelanX commented on #80
Ahh yes, it’s because the default world generation doesn’t have this biome. It removes each biome which isn’t in that list but it wouldn’t add if the list of all biomes is empty. This needs to be fixed!

[2022-05-30 17:24] #80 closed, assigned to MelanX

[2022-06-02 04:39] tmanfoo1 opened #81 "Unknown mod incompatibility"
### Minecraft version

1.18.2

### LibX version

3.2.15

### Skyblock Builder version

3.3.6

### Forge version

40.1.25

### The latest.log file

https://pastebin.com/qj1emMij

### Issue description

Crashes when attempting to generate any sky block world

### Steps to reproduce

1 use the modpack in the description
2 create new world of the skyblock variety
[skyblockissue.zip](https://github.com

[2022-06-02 07:44] tmanfoo1 commented on #81
Upon further investigation it seems to be recipe stages and lucky blocks

[2022-06-02 13:00] #81 closed, assigned to nobody

[2022-06-02 14:02] tmanfoo1 commented on #81
So is the verdict that it is going to be worked on? or?

[2022-06-02 16:24] MelanX commented on #81
It's already fixed

[2022-06-02 18:24] MelanX opened #82 "Crash when creating new world"
### Minecraft version

1.18.2

### LibX version

1.18.2-3.2.2

### Skyblock Builder version

1.18.2-3.3.9

### Forge version

40.0.19

### The latest.log file

https://gist.github.com/MelanX/03d6ed186ee84a9354a30b323dd8e5b1

### Issue description

Creating a new world results in `Cannot invoke "de.melanx.skyblockbuilder.util.WorldUtil$Directions.name()" because "this.direction" is null`. A few ver

[2022-06-02 18:36] #82 closed, assigned to nobody

[2022-06-02 20:55] MelanX commented on #20
It would be possible now (at least for structures, features would still need another chunk generator). To be honest, I don't want to implement it now. In my opinion, the mod and its config is a bit confusing at the moment and this feature would make the config much more confusing, especially if you want to apply the changes for *all* dimensions at once (which is the case in nearly every pack I'd s

[2022-06-02 20:55] #20 closed, assigned to MelanX

[2022-06-03 05:54] tmanfoo1 opened #83 "Feature adition"
### Describe your idea

Hello!
Would it be at all possible to include 'features' in with a skyblock world?
I am using MCreator to generate structures in the world
But it seems that these arn't registered with /locate and therefore are not registered with your mod!
Enclosed is a test mod created that generates a ton of little starting islands!
Let me know if you can help!
[package.zip](https://gith

[2022-06-04 03:52] tmanfoo1 opened #84 "Feature Bug"
### Minecraft version

1.18.2

### LibX version

3.2.15

### Skyblock Builder version

3.3.10

### Forge version

40.1.25

### The latest.log file

https://pastebin.com/Q64Wy5Rw

### Issue description

The world won't generate any of the features even though they are in the .txt file and recognized!
[package.zip](https://github.com/MelanX/SkyblockBuilder/files/8836956/package.zip)

### Steps to re

[2022-06-04 05:48] MelanX commented on #84
I just woke up and am on smartphone only and can’t review the files to see which features you want but I want to ask if you read this line in the config and know which stuff is required for your selection?
https://github.com/MelanX/SkyblockBuilder/blob/1.18.x/src/main/java/de/melanx/skyblockbuilder/config/ConfigHandler.java#L21

[2022-06-04 06:57] tmanfoo1 commented on #84
when I coded it, it shouldn't require any special surfaces. From my understanding it only requires a y level and air I think?

[2022-06-04 06:58] tmanfoo1 commented on #84
I could try and provide the exact coding mcreator gave me if that helps

[2022-06-04 09:17] MelanX commented on #84
Yes, maybe that helps.

[2022-06-04 17:45] tmanfoo1 commented on #84
package net.mcreator.floatingisles.world.features;

/* imports omitted */

public class DefaultIslandFeature extends Feature<NoneFeatureConfiguration> {

	public static DefaultIslandFeature FEATURE = null;
	public static Holder<ConfiguredFeature<NoneFeatureConfiguration, ?>> CONFIGURED_FEATURE = null;
	public static Holder<PlacedFeature> PLACED_FEATURE = null;

	public static Feature<?> feature()

[2022-06-04 19:02] MelanX commented on #84
For me it generates.

![2022-06-04_21 01 46](https://user-images.githubusercontent.com/26039509/172021997-9e43d092-4940-4d6f-8c6e-c1b8ac272ecb.png)

[2022-06-04 19:02] #84 closed, assigned to nobody

[2022-06-05 17:21] tmanfoo1 commented on #83
[TechnoCraft.zip](https://github.com/MelanX/SkyblockBuilder/files/8840410/TechnoCraft.zip)

[2022-06-05 17:22] tmanfoo1 commented on #83
[TechnoCraft.zip](https://github.com/MelanX/SkyblockBuilder/files/8840411/TechnoCraft.zip)
Well if it generates for you and not me, that means we likely have some sort of issue with a mod incompatibility. Here is the little modpack I am assembling.

[2022-06-05 17:22] #83 closed, assigned to nobody

[2022-06-05 17:25] tmanfoo1 opened #85 "Feature Bug Part 2"
### Minecraft version

1.18.2

### LibX version

3.2.15

### Skyblock Builder version

3.3.10

### Forge version

40.1.25

### The latest.log file

included in the file

### Issue description

features from my test mod dont generat
[TechnoCraft.zip](https://github.com/MelanX/SkyblockBuilder/files/8840414/TechnoCraft.zip)
e

### Steps to reproduce

1 install the modpack above
2 generate a new skybl

[2022-06-05 17:36] MelanX commented on #85
The latest.log is included in which file? It's not in your zip.

[2022-06-05 17:38] MelanX commented on #85
I looked at the config, you didn't enable any other structure. What structure do you want to be generated?

[code]

This is the important part from the config.

[2022-06-05 19:20] tmanfoo1 commented on #85
Where is that config file located? I don't remember seeing anything about it in the wiki

[2022-06-05 19:41] tmanfoo1 commented on #85
Also I want to ask if there is support for avoiding collisions between ur Island and generated structures? Was well as a way to configure the generated hight of ur Island

[2022-06-05 20:07] MelanX commented on #85
It's the normal config file `config/skyblockbuilder/common-config.json5`. More in the wiki: https://melanx.github.io/SkyblockBuilder/1.18.x/config/structures/

No, this isn't possible. Structures will generate first, then the island. If you want to configure the height to avoid colliding with structures on a specific height, look here: https://melanx.github.io/SkyblockBuilder/1.18.x/config/spawn/#

[2022-06-05 23:53] tmanfoo1 commented on #85
sorry I was an idiot thanks so much for the help! My last question to you is: is there anything special I have to do if I want command blocks on starting islands? [I am trying to make a main island hub that will join you to different teams when pressing different buttons and teleport you out to your island

[2022-06-06 05:44] MelanX commented on #85
You need to enable command blocks in your server.properties or use a fancy mod which you can read more about here: https://wiki.chaotictrials.de/skyblock-builder/1.18.x/gui_addon/
*you don’t have to open a new issue, you can still comment or join my Discord server on https://discord.chaotictrials.de/*

[2022-06-06 05:44] #85 closed, assigned to nobody

[2022-06-07 19:16] halvalla01 opened #86 "Encountering error during the common_setup event phase"
The mod was working fine before, all I did was add more templates (yes, I did it the proper way), and now it just crashes

[2022-06-07 19:21] MelanX commented on #86
Please use the issue template next time. Please provide all information. Here a screenshot with most of the information I want:
![A791772E-8E00-46CC-88A8-78E413F63CF6](https://user-images.githubusercontent.com/26039509/172464831-a3864fa8-6e3d-44fe-bbce-d80c4fdaf556.png)

[2022-06-16 10:05] #38 closed, assigned to MelanX

[2022-06-21 23:27] MelanX commented on #61
woops

[2022-06-24 15:39] #86 closed, assigned to nobody

[2022-06-25 16:38] Remering opened #87 "Add permission controll on server"
### Describe your idea

When I started a modded server with plugins, players got no permission message when `/skyblock` command is issued. Please add support for permission management like ftbranks.

[2022-06-25 16:43] #87 closed, assigned to nobody

[2022-07-01 02:18] tmanfoo1 opened #88 "Island Switching"
### Minecraft version

1.18.2

### LibX version

LibX-1.18.2-3.2.18.jar

### Skyblock Builder version

SkyblockBuilder-1.18.2-3.3.15.jar

### Forge version

40.1.35

### The latest.log file

https://pastebin.com/a8ngsC1D

### Issue description

using /skyblock manage islandShape fakeandromeda the command is keeps returning that an unexpected error occured while trying to run the command [is it pos

[2022-07-01 18:44] #88 closed, assigned to nobody

[2022-07-01 18:47] MelanX commented on #88
I fixed the problem with the command. Did not try the other bug yet. However, your log mentioned this line `22: ASM: class dev.architectury.networking.forge.NetworkManagerImpl loggedIn(Lnet/minecraftforge/event/entity/player/PlayerEvent$PlayerLoggedInEvent;)V` because `Index` in line 2 is `22`. So, whatever the problem is here, it's triggered by Architectury. If I don't forget it, I will test the

[2022-07-17 01:46] tmanfoo1 opened #89 "Icons Issue"
[skyblockbuilder.zip](https://github.com/MelanX/SkyblockBuilder/files/9126899/skyblockbuilder.zip)

I have no idea why my icons arent working and it isn't well documented at all!

I am in 1.18.2 if that helps!

[2022-07-17 04:21] MelanX commented on #89
It would be easier if you provided the log but I think you just named them wrong. Have a look at the latest log to find out what’s the correct names. If that’s still wrong, send the log or provide the missing information. (versions of sb, forge)

[2022-07-17 15:41] tmanfoo1 commented on #89
I don't see anything about it in the logs. Forge 40.1.55, and skyblock builder 3.3.2.1 for 1.18.2

[2022-07-17 15:59] MelanX commented on #89
This version doesn't exist lol. I think you mean 3.3.21
Okay, when looking at your files: the names are wrong. The names for the files should be the same as the template names in lowercase as you can read here: https://melanx.github.io/SkyblockBuilder/1.18.x/packdev/packdev/#configuring-templates
The name in your case is for example `default.png`, `dark oak.png`, or `jungle.png`.

[2022-07-17 16:38] tmanfoo1 commented on #89
yes I do mean that version. Also so the template name not the nbt name?

[2022-07-17 16:40] tmanfoo1 commented on #89
additionally I am having an issue with an NBT file I made using the structure saver, when I use the same format and add another island it just clears all of the islands. They don't even show up in the log files

[2022-07-17 16:41] MelanX commented on #89
Yes, the name for each template you wrote as name in `templates.json5` config file.

[2022-07-17 16:42] MelanX commented on #89
I think I don’t understand that correctly.

[2022-07-17 16:48] tmanfoo1 commented on #89
Gimme a sec to run one last test and then I will send over the altered version of the config

[2022-07-17 16:51] tmanfoo1 commented on #89
[skyblockbuilder.zip](https://github.com/MelanX/SkyblockBuilder/files/9128145/skyblockbuilder.zip)
So, Not sure why but now that I added my andromeda ship it completely removes everything but default.

[2022-07-17 16:51] tmanfoo1 commented on #89
the images do seem to work now.

[2022-07-17 16:56] MelanX commented on #89
What will removed where? Please explain it to me like I was a 3 years old child.

[2022-07-17 17:00] tmanfoo1 commented on #89
![Screenshot 2022-07-17 105843](https://user-images.githubusercontent.com/93341184/179416496-5143cdb1-183a-409c-8991-0d188654dc9c.png)
In the skyblock builder selection, After I include my andromeda file [A large floating ship I built], all other skyblock options get removed from the 'customize' option for the worldtype skyblock. See attached photo

[2022-07-17 17:03] tmanfoo1 commented on #89
As you can see from the photo it still is using my configs, because the png is from my configs, as well as the island

[2022-07-17 17:03] MelanX commented on #89
Sounds good, will look at it. Would be still better if you include the latest.log but… okay. Even if you say that there’s no information. It’s always better. For next time :)

[2022-07-17 17:05] tmanfoo1 commented on #89
There is also no info about it in the logs file but you can check for yourself
[latest.log](https://github.com/MelanX/SkyblockBuilder/files/9128166/latest.log)

[2022-07-17 17:08] MelanX commented on #89
com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Expected name at line 38 column 4 path $.spawns.ship

[2022-07-17 17:08] MelanX commented on #89
"No info" :)

[2022-07-17 17:09] MelanX commented on #89
Line 37, a comma to much.

[2022-07-17 17:09] tmanfoo1 commented on #89
lemme double check that, but I think that was an error I just made when sending it to you

[2022-07-17 17:12] tmanfoo1 commented on #89
ok so I am stupid

[2022-07-17 17:13] tmanfoo1 commented on #89
I am sorry for wasting your time with this second part.

[2022-07-17 17:13] tmanfoo1 commented on #89
I am generating the world now. Lemme make sure it generates properly before closing the issue

[2022-07-17 17:19] #89 closed, assigned to nobody

[2022-07-17 21:57] TheExotik opened #90 "Error when set skyblockbuilder:custom_skyblock in server.properties"
### Minecraft version

1.16.5

### LibX version

1.16.3-1.0.76

### Skyblock Builder version

1.16.4-1.6.15

### Forge version

36.2.33

### The latest.log file

i can't cause is to much, and they dont let me "paste"

### Issue description

i'm trying to use skybuilder in my modpack, then players can have they own island (of course) but if i try do what wiki say, to me set skyblockbuilder:custom_s

[2022-07-17 23:34] tmanfoo1 opened #91 "Datapack Structures"
### Minecraft version

1.18.2

### LibX version

3.2.18

### Skyblock Builder version

3.3.22

### Forge version

40.1.55

### The latest.log file

[2022-07-17-6.log.gz](https://github.com/MelanX/SkyblockBuilder/files/9128767/2022-07-17-6.log.gz)

### Issue description

generation freezes on skyblock worlds with datapack selected

### Steps to reproduce

_No response_

### Other information

_No r

[2022-07-18 00:10] tmanfoo1 commented on #91
[latest.log](https://github.com/MelanX/SkyblockBuilder/files/9128819/latest.log)
Here is the log ^
Another weird note is that for whatever reason it seems to generate fine in the log, but upon generating it just freezes at 100%

[2022-07-18 00:16] tmanfoo1 commented on #91
[sky_isles.zip](https://github.com/MelanX/SkyblockBuilder/files/9128829/sky_isles.zip)
[skyblockbuilder.zip](https://github.com/MelanX/SkyblockBuilder/files/9128831/skyblockbuilder.zip)
if you wanna try for yourself

[2022-07-18 02:22] MelanX commented on #90
Too much for pastebin or gist?

[2022-07-18 02:41] MelanX commented on #91
Will test later but for now:
1. Datapack stuff wasn’t tested on 1.18.2 properly, only on 1.19 (and it works fine there, so I hope it’s easy to fix in 1.18.2).
2. Did you try your Datapack in a normal world? If yes, what happened?
3. You could just allow all structures at once with `skyisles:*` as a wildcard.

[2022-07-18 02:48] tmanfoo1 commented on #91
2) I did try it in 1.18.2 and yes it worked properly
3) No I did not thanks!

[2022-07-18 02:53] tmanfoo1 commented on #91
also idk if it is notworthy or worthwile to mention but I got help with the dude from shrines structures to generate my structures. so they are reliant on their infrastructure

[2022-07-18 03:07] tmanfoo1 commented on #91
also if you think you need the modpack I can provide a zip file

[2022-07-18 04:06] MelanX commented on #91
No, I don’t want other mods which could be the problem. I just want to know if my mod works fine or not.

[2022-07-18 04:25] tmanfoo1 commented on #91
ok... well do you have any idea on the when/if this will be fixed?

[2022-07-18 04:29] MelanX commented on #91
I need to test it. This will probably happen today. Now, it is 6:29am. My full time job didn’t even start for today. After that, there are only a few hours until I go to bed. So, if not today, maybe tomorrow or within the next few days. And that’s only looking into the problem. Fixing is another issue and I can’t give a ETA.

[2022-07-18 04:45] tmanfoo1 commented on #91
yikes... alright. This was the last thing we gotta do before releasing my new modpack x3
I will be patient

[2022-07-18 13:05] TheExotik commented on #90
both, cause i'm using many mods and some plugins, and when i try paste said the log is too big

[2022-07-18 13:27] TheExotik commented on #90
damn! i'm so sorry dude, i made a mistake
i set skyblockbuilder:custom_skyblock in level-NAME and not in level-TYPE
i set in level-type now and the server start up and the islands was create (not what i build/template) but thats ok.

sorry for bothering you

[2022-07-18 15:05] #90 closed, assigned to nobody

[2022-07-18 15:28] MelanX commented on #91
Can't reproduce. World loaded fine.
Here my mods:
![image](https://user-images.githubusercontent.com/26039509/179546779-21bb93bb-f6e0-4b41-8410-255cfecd0a80.png)

Used your config and your datapack to create the world.

[2022-07-18 15:37] tmanfoo1 commented on #91
and you saw the structures actually generate?

[2022-07-18 15:38] tmanfoo1 commented on #91
I will disable groups of mods until we can figure out which one is causing it to malfunction if so.

[2022-07-18 15:39] tmanfoo1 commented on #91
and double checking you actually *got* into the world and you used my config for skyblock builder correct?

[2022-07-18 15:42] tmanfoo1 commented on #91
also is it possible biomes o plenty is causing an issue? because my datapack is also dependent on biomes o plenty

[2022-07-18 16:05] MelanX commented on #91
Your problem was that it freezes at 100%. I checked only this.

Yes.

I don't know, never tried with BoP.

[2022-07-18 16:57] tmanfoo1 commented on #91
would this work easier if I could find a way to turn my datapack into a mod?

[2022-07-18 17:02] tmanfoo1 commented on #91
Also I am currently working on creating a modpack with the minimal amount of mods to create the glitch

[2022-07-18 17:10] tmanfoo1 commented on #91
also would you like me to create a seperate ticket for the structures not generating at all?

[2022-07-18 17:40] MelanX commented on #91
This issue is fixed in the newest version. My Jenkins has a few problems and I need to fix them. This issue will be closed now, but the update will not be pushed now. I first need to fix the problems on my Jenkins because it builds and uploads my mods for me.

[2022-07-18 17:40] #91 closed, assigned to nobody

[2022-07-18 20:14] TheExotik opened #92 "/skyblock create"
### Minecraft version

1.16.5

### LibX version

1.16.3-1.0.76

### Skyblock Builder version

1.16.4-1.6.15

### Forge version

36.2.33

### The latest.log file

https://www.toptal.com/developers/hastebin/rekebovogi.yaml

### Issue description

i'm trying to create a island but when i try run /skyblock create myhome said "incorrect argument for command, skyblock create myhome.
also i can create a

[2022-07-18 20:28] MelanX commented on #92
Did you enable `createOwnTeam` in config?

[2022-07-18 20:33] TheExotik commented on #92
no... gonna enable this one and test

[2022-07-18 20:35] TheExotik commented on #92
also, just to me know, how i set the template? i create one like the video and drop the template.nbt in server configs, but when island are create, use the default template and don't the one i did

[2022-07-18 22:25] tmanfoo1 opened #93 "Datapack causing world to freeze/datapack not generating structures"
### Minecraft version

1.18.2

### LibX version

3.2.18

### Skyblock Builder version

3.3.23

### Forge version

40.1.68

### The latest.log file

[latest.log](https://github.com/MelanX/SkyblockBuilder/files/9136035/latest.log)

### Issue description

The generation freezes at 100% and will not allow users to join the world **[caused by lucky blocks]** / the skyblock world will not generate struc

[2022-07-18 23:18] tmanfoo1 commented on #93
[Andromeda Automation-3.2.zip](https://github.com/MelanX/SkyblockBuilder/files/9136210/Andromeda.Automation-3.2.zip)
I know you dont want this but its moreso for me.
Additionally my structures still do not generate in the world

[2022-07-18 23:30] tmanfoo1 commented on #93
Update!!! it seems like lucky block is causing the issue of it not loaded
HOWEVER the structures still are not generating

[2022-07-18 23:41] tmanfoo1 commented on #93
[skyblock testing-horriblebadtime.zip](https://github.com/MelanX/SkyblockBuilder/files/9136286/skyblock.testing-horriblebadtime.zip)
Another update. Here is a version of the pack that loads my structures with the approrpiate config and all, still not generating structures

[2022-07-19 00:57] TheExotik commented on #92
ok, sorry for make you lost your time, i'm got how use this mod, and i got how set my template, thank you, everything is working. :)

[2022-07-19 03:55] MelanX commented on #93
Do you know which mod causes this? Because I tested it with LibX, Skyblock Builder and Shrines Structures (or whatever the name is) together with your datapack and it generated fine. So, it needs to be an incompatibility or you have wrong biomes set for the structures. You said something about BoP. Maybe normal biomes are missing? I don’t know.
Please find out what’s the real problem and which mod

[2022-07-19 03:57] tmanfoo1 commented on #93
This is a the tiny version pack with the 5 mods necessary to cause issues! that should help you identify the problem!

Also will you be able to fix the lucky block issue?

[2022-07-19 03:58] MelanX commented on #92
I really should take this video offline since it’s very very outdated. Instead, the wiki should be used.

Awesome that everything works fine!

[2022-07-19 03:58] #92 closed, assigned to nobody

[2022-07-19 04:00] MelanX commented on #93
Okay, didn’t look at it. Just woke up and thought I should tell you this that you could use the time while I’m at work.
lucky block: I don’t know.

[2022-07-19 04:01] MelanX commented on #93
Which lucky blocks mod do you use?

[2022-07-19 04:13] tmanfoo1 commented on #93
believe it or not I am trying to make your life a tad easier!

lucky-block-forge-1.18.2-13.1.jar

[2022-07-19 04:14] tmanfoo1 commented on #93
I appreciate your help and your patience. I am trying my best.

[2022-07-19 04:34] tmanfoo1 commented on #93
so update!! the structures *do* spawn correctly now. [my minecraft client got corrupt or something. A friend was able to get it working] However the lucky blocks issue still exists!

[2022-07-19 04:40] MelanX commented on #93
So.. the only problem is Lucky Blocks now?

[2022-07-19 04:45] tmanfoo1 commented on #93
actually I am sorry lol. I found out the real issue between me and some of my friends. The reason why the testing was inconclusive is due to some of us selecting the wrong starting island.

So in other words what is actually causing the crash is our starting island being specifically the andromeda and my datapack. For whatever reason they are not getting along well.
Is it possible that since I use

[2022-07-19 04:50] tmanfoo1 commented on #93
then again I used your structure saver for the normal sized islands as well. It could be a size issue or something...?

[2022-07-19 05:02] MelanX commented on #93
Sorry but this issue is a mess. So many different issues combined in this one.
I now close this issue. Please open an issue for each problem you have.
Lucky Block stuff is one issue, the problem with your friend is one issue, and whatever else, I don’t get it anymore.
You can use blank issues for that, I now know your versions. Just a detailed description how to actually reproduce the problem with

[2022-07-19 05:02] #93 closed, assigned to nobody

[2022-07-19 05:08] tmanfoo1 opened #94 "Lucky Block Support freezing at 100%"
Minecraft version
1.18.2

LibX version
3.2.18

Skyblock Builder version
3.3.23

Forge version
40.1.68

The latest.log file

Issue description

Lucky

Steps to reproduce
Navigate to the create a world screen

Select worldtype skyblock

ensure that datapack provided is loaded

4)Generate world and you will notice that it freezes upon reaching 100%, You can often hear the world around you after waiti

[2022-07-19 05:11] tmanfoo1 opened #95 "Shrines structure datapack freezing at 100%"
Minecraft version
1.18.2

LibX version
3.2.18

Skyblock Builder version
3.3.23

Forge version
40.1.68

The latest.log file
[latest.log](https://github.com/MelanX/SkyblockBuilder/files/9136035/latest.log)

Issue description
The generation freezes at 100% if my own datapack is selected and the andromeda starting island is selected,
Note. It seems to not happen 100% of the time. About 25% of the time

[2022-07-19 06:10] tmanfoo1 commented on #95
*note not sure if its possible but what if the structures are intersecting? that could cause issues

[2022-07-19 13:42] tmanfoo1 commented on #95
Note. It seems to not happen 100% of the time. About 25% of the time it gets to loading terrain, and about 5% of the time it actually gets into the world! This explains a lot of the confusion, and also makes my theory about structures overlapping with yours more possible

[2022-07-19 15:50] MelanX commented on #94
Why should I ensure that andromeda is selected here? The freezing issue is #95. If this problem only happens with Andromeda, than this can be closed.

[2022-07-19 16:05] tmanfoo1 commented on #95
The Andromeda island [without lucky blocks installed] is also causing issues with generation. For whatever reason either the Andromeda sky block can be selected OR have my datapack installed. If both are installed it causes frequent freezing on generation

[2022-07-19 16:06] tmanfoo1 commented on #94
Sorry typo. That js not relevant to the lucky block support

[2022-07-19 16:06] tmanfoo1 commented on #94
Lucky blocks was separate. I just copied the first post and must have forgotten that.

[2022-07-19 16:17] MelanX commented on #95
I can't reproduce this, sorry.
And I looked a bit at the files. The andromeda island is 6.89 MB! Wow! You will definitely have problems with that on a server. Or if Sky GUIs is installed. There will be issues with a structure that big.
And yes, some structures may be overlapping with the starting island... I mean... it's 186x163x85 blocks! That's a lot. I know, it probably was a lot of work to cre

[2022-07-19 17:16] tmanfoo1 commented on #95
Well since thet can generate separately they should be able to work together. Is there a way tk dida le generation of structures in a radius around spawn?

[2022-07-19 17:24] MelanX commented on #95
No, not possible.

[2022-07-19 17:34] tmanfoo1 commented on #95
Well that sucks. Is there a way to make thr Andromeda ovewrite other structures n cut em off? So it at least generate?

[2022-07-19 17:38] tmanfoo1 commented on #95
Because I tested this without the other structures from the datapack and it worked fine... what if I add the datapack after the andromeda is generated?

[2022-07-19 18:34] MelanX commented on #95
I don't know what exactly happens when the structure overrides. Not sure which order is used for generating. But adding the datapack after it was generated should work I guess.

[2022-07-19 18:56] tmanfoo1 commented on #95
Do you know of a mod that can make that happen? Or do I just make my users do so manually?

[2022-07-19 19:01] MelanX commented on #95
I don't think that any mod would do that because it's odd. I'm sorry, can't help with that.

[2022-07-19 20:31] tmanfoo1 commented on #95
Hmm how about structure spawn in tools aside from the vanilla load structures?

[2022-07-20 02:33] tmanfoo1 commented on #95
you know what is weird.... the andromeda loads fine if you select it as a starting island after you get into the world by changing the default island shape.... I wonder if there is a way to delay when it generates or something

[2022-07-20 03:54] MelanX commented on #95
I don’t understand.

I still have no idea what exactly is the overlap you talk about. Starting island overrides normal structures? That just happens. I can’t change it.

[2022-07-20 04:04] tmanfoo1 commented on #95
It's not generating at spawn lol. But it does if I change the island shape to Andromeda and join a team

[2022-07-20 04:04] tmanfoo1 commented on #95
Which I thought was weird and worth mentioning

[2022-07-20 04:07] MelanX commented on #95
Okay, then I quote myself:

[2022-07-20 04:08] tmanfoo1 commented on #95
But like... it's generating properly 100% of the time. And not like just part of a time like normal

[2022-07-20 04:08] tmanfoo1 commented on #95
So your argument is invalid. They are different in some way ostensibly

[2022-07-20 04:10] MelanX commented on #95
If it’s "generating properly 100% of the time", I think it’s fine.

[2022-07-20 04:11] tmanfoo1 commented on #95
But on startup it isnt...

[2022-07-20 04:11] tmanfoo1 commented on #95
Thats the point I'm making

[2022-07-20 04:20] MelanX commented on #95
Maybe the structures just don’t generate at 0 ~ 0 (and around). Or it’s not 100% of the time but only the times you tested it.

[2022-07-20 05:04] tmanfoo1 commented on #95
I mean I tested it like 10 times

[2022-07-20 14:54] MelanX commented on #95
I close this now because I'm not able to fix it nor is there any other problem here which I could fix.
For detailed answer to this issue, see my first comment from yesterday.

[2022-07-20 14:54] #95 closed, assigned to nobody

[2022-07-20 15:25] MelanX commented on #94
![image](https://user-images.githubusercontent.com/26039509/180021255-132300d9-a1cf-4543-a830-28196d9672ab.png)
As you can see, Lucky Blocks with Skyblock Builder works just fine. Needs to be another mod which causes the problem.

[2022-07-20 15:25] #94 closed, assigned to nobody

[2022-07-20 22:12] tmanfoo1 opened #96 "Biome Blacklist"
### Minecraft version

1.18.2

### LibX version

LibX-1.18.2-3.2.18

### Skyblock Builder version

SkyblockBuilder-1.18.2-3.3.23

### Forge version

40.1.68

### The latest.log file

[latest.log](https://github.com/MelanX/SkyblockBuilder/files/9154764/latest.log)

### Issue description

When I blacklist items they still spawn:
![Screenshot 2022-07-20 161218](https://user-images.githubusercontent.c

[2022-07-21 18:03] MelanX opened #97 "Spawns incorrect"
### Minecraft version

1.19

### LibX version

dev

### Skyblock Builder version

dev

### Forge version

dev

### The latest.log file

dev

### Issue description

`SkyblockSavedData#initialPossibleSpawns` should also use the ConfiguredTemplate.

### Steps to reproduce

_No response_

### Other information

_No response_

[2022-07-22 11:19] MelanX commented on #96
Was related to this: https://github.com/Glitchfiend/TerraBlender/issues/86

[2022-07-22 11:19] #96 closed, assigned to nobody

[2022-07-22 20:43] #97 closed, assigned to nobody

[2022-08-13 02:19] MelanX opened #98 "Tool to fix broken data files"
### Describe your idea

It would be awesome if there was anything to make it easier to fix the data file if something broke (like when leaving a team fails)

1. Best solution would be something that will verify the data when joining
2. An Admin command would be nice, too
3. An external tool which just translates the uuids to the names to make it easier to fix things would also be a solution

[2022-08-13 05:12] enigmaquip opened #99 "Deleting a team with a player in it causes the player to be kicked"
### Minecraft version

1.18.2

### LibX version

1.18.2-3.1.2

### Skyblock Builder version

1.18.2-3.3.24

### Forge version

40.1.68

### The latest.log file

https://mclo.gs/i6wwdjh

### Issue description

`/skyblock manage teams delete <team>`

### Steps to reproduce

_No response_

### Other information

_No response_

[2022-08-13 08:22] #99 closed, assigned to nobody

[2022-08-21 16:39] AerosAtar opened #100 "Option to make use of Noise, Cave Carver, etc when entering surfaceSettings [1.18.2+]"
### Describe your idea

I would love for the ability to generate the 'surface' with mountains, caves and other vanilla terrain generation instead of just as a flat world.

This would allow packs such as Cuboid Outpost and Seaopolis, as examples, to have more interesting worlds to 'explore' and allow for additional options when planning pack progression.

As an extension of this, the ability to spe

[2022-08-21 17:01] MelanX commented on #100
It it true, carvers and these things are more interesting. I have no idea about how much work it would be, but I'll look at it. However, multiple biomes is already possible since 1.18. New features will not be added to versions before 1.18, so this isn't needed anymore. For more information about this setting, look [here](https://melanx.github.io/SkyblockBuilder/1.18.x/config/world/#biomes).
Addit

[2022-08-21 18:24] MelanX commented on #100
I looked a bit at it. Carvers are possible. Noise wouldn't be possible as this would break internal settings and it's not worth to catch these things. I know, this doesn't add things like mountains. At least the caves can be added :)

[2022-08-21 18:44] AerosAtar commented on #100
Cool. I was looking to perhaps recreate a few of my favourite 1.16 modpacks in a newer version for my own use, so being able to use the Carvers would be amazing.

Maybe Noise could be added to the "wishlist" for Builder2.0 or a potential future refactoring? I.e. something that'd be nice to add if large enough changes are already being made that it wouldn't be too much extra work. >.<

[2022-08-21 19:02] MelanX commented on #100
The problem is that it wouldn't break my internal settings. It would break vanilla things and everything added by other mods.
Noises are used in Noise Router. It would throw a lot of errors and I don't know if it's even possible to "remove" these things. Sorry for that :/

[2022-09-20 07:41] KuroPeach opened #101 "can make the sky island generate in an extra dimension, the main world unchanged"
### Describe your idea

Is it possible to make the sky island generate in an extra dimension, while the overworld remains unchanged.
I tried this mod and it only works if it is set to false.

    "Overworld": {

      // Should overworld generate as in default world type? [default: false]
      "Default": false
    }

[2022-09-20 09:02] MelanX commented on #101
You could use the nether or end as start dimension.
You could create an exact copy of the overworld via Datapack for your normal overworld.
Not sure right now if it’s possible to add a dimension (copy the overworld) and use this as start dimension, never tried that.

[2022-09-20 09:05] KuroPeach commented on #101
I did change the starting dimension, do I need to change any dimension of minecraft to the void to work?

[2022-09-20 09:47] MelanX commented on #101
I think I didn’t understand your question

[2022-09-20 09:55] KuroPeach commented on #101
thanks, it works now, I need to have either world default disabled.

"Dimensions": {

    "End": {

      // Should end generate as in default world type? [default: false]
      "Default": false,

      // Should the main island be generated as normal? [default: true]
      "mainIsland": true
    },

    "Nether": {

      // Should nether generate as in default world type? [default: false]

[2022-09-20 09:55] #101 closed, assigned to nobody

[2022-09-28 14:18] incomingnerd opened #102 "Invalid player data, destroyed chunks"
### Minecraft version

1.18.2

### LibX version

1.18.2-3.2.19

### Skyblock Builder version

1.18.2-3.3.25

### Forge version

40.1.79

### The latest.log file

https://gist.github.com/incomingnerd/95c039b5bb380b7a44cdfd8be93eb7eb

### Issue description

Skyblock builder threw an "invalid player data" message on trying to log into a single-player world that had previously been playing perfectly f

[2022-09-28 14:35] MelanX commented on #102
See https://github.com/AllTheMods/All-the-mods-7-Sky/issues/231

[2022-09-28 14:35] #102 closed, assigned to nobody

[2022-10-01 03:52] Spongman opened #103 "op can't add player to team"
### Minecraft version

1.18.2

### LibX version

3.2.19

### Skyblock Builder version

3.3.25

### Forge version

40.1.79

### The latest.log file

NA

### Issue description

I'm an op on my server, there are two players logged in: me and another player. i want to add that player to a team that i'm not a member of. nobody else is logged in. how do i do that?

### Steps to reproduce

_No response_

[2022-10-01 05:22] MelanX commented on #103
`/skyblock manage addPlayer <name> <Team name>`
If the team name has more than one word -> "team name", otherwise the command send "team" as name and "name" is an invalid argument.

[2022-10-01 20:18] Spongman commented on #103
Oh thanks. I looked on the wiki but couldn’t find it - I didn’t look in the mod creator section, though… might I suggest a separate “server operator” section header?

[2022-10-04 15:17] MelanX commented on #103
Sounds ok! Maybe I add it once I'm changing something there :)

[2022-10-04 15:17] #103 closed, assigned to nobody

[2022-10-04 15:17] #98 closed, assigned to nobody

[2022-10-04 15:18] #100 closed, assigned to nobody

[2022-10-04 15:34] MelanX opened #104 "Modded dimensions aren't loaded properly on creating the world"
### Minecraft version

1.19.2

### LibX version

1.19.2-4.2.6

### Skyblock Builder version

1.19.1-4.2.0

### Forge version

43.1.33

### The latest.log file

unnecessary

### Issue description

Dimensions by other mods are likely not loaded with Skyblock world preset. Because of this, these dimensions can't be visited or used as starting dimension. However, after re-loading the world, the dimens

[2022-10-07 19:03] MelanX commented on #104
https://github.com/MelanX/SkyblockBuilder/commit/640455a16fccbd560f40274df6c4cf216580a859

[2022-10-07 19:03] #104 closed, assigned to nobody

[2022-11-26 05:43] Jacob-Guglielmin opened #106 "No lightning strikes on lightning rod in Skyblock world type"
### Minecraft version

1.18.2

### LibX version

1.18.2-3.2.18

### Skyblock Builder version

1.18.2-3.3.25

### Forge version

40.1.85

### The latest.log file

https://pastebin.com/3SLnrh2D

### Issue description

No lightning strikes lightning rods in worlds created with the Skyblock world type.

### Steps to reproduce

1. Create a world with the Skyblock world type.
2. If it is a biome where i

[2022-11-26 15:54] #106 closed, assigned to nobody

[2022-11-27 18:45] OshidaBCF opened #107 "Cannot create spawn point "This position is too far away from the team spawn""
### Minecraft version

1.19.2

### LibX version

1.19.2-4.2.8

### Skyblock Builder version

1.19.2-4.2.2

### Forge version

43.1.52

### The latest.log file

https://gist.github.com/OshidaBCF/f75fab2b260fe699c35bc62dffc7532d

### Issue description

I wanted to change my spawn point because the current one was in the middle of some blocks.

After trying to add a new spawn point with the team spaw

[2022-11-27 18:55] MelanX commented on #107
By default, you can add spawn points up to 50 blocks away from your island. You can change this in the config under `Utility/Spawns/range`. If you were within the defined range, please tell me - than it could be a bug. Otherwise, you can close this issue.

[2022-11-27 18:58] OshidaBCF commented on #107
Thing is that i don't know "where" exactly is my island

Even by being 5 block away of where the old spawn point was it doesn't work, even if trying to use 2^14 and -2^13 for the coordinate exactly (which seem to be one of the corner of the island, it still doesn't work

I can ask the Admin of the server to check the config, maybe he changed it.

It is a file ?

[2022-11-27 19:31] MelanX commented on #107
The config is a file, yes.

If you was 5 blocks away from the old point and tried to add it, it should be a bug. I will try that on my end soon. If I can create it, I need more information. If I can’t, I will tell you and fix it.

For now: What happens if you use `/skyblock home`? There should be any spawn point. And in a radius of ~50 blocks, you should be able to add the spawn point. If not… I w

[2022-11-27 19:34] OshidaBCF commented on #107
if i do the /skyblock home, it tp me at 0, 0, i think around y = 80, but i cannot test or i'll be 16k blocs away of my island again.

I can't try right now because 0, 0 isn't loaded, but i think i tried earlier to create a spawn point near it, and it wouldn't work either, i tried different position of islands, as they all seem to be +-2^13 or 2^14 in x and z.

[2022-11-29 17:50] MelanX commented on #107
How did you get your island? It seems like you're not really part of the island team on "your island". I checked now: I always can add a spawn point near my island.
For more clarification, I'd need the `skyblockbuilder.dat` file from the world and your UUID or username. Otherwise, I don't know what the problem could be.
You could also try to list your team with `/skyblock list <team name>`. If you

[2022-11-29 20:19] OshidaBCF commented on #107
by falling while walking forward form another team island

And for me being in my team, i am 100% sure i am "in" it, i can "edit" some properties of it, if it try to visit it, it say "you cannot visit your own island".

My User Name is : Oshida_BCFreedom
[skyblockbuilder.zip](https://github.com/MelanX/SkyblockBuilder/files/10116982/skyblockbuilder.zip)

[2022-11-30 17:36] MelanX commented on #107
Your team island should be at X16384 Y64 Z -8192. Near this, you should be able to add a spawn point. If that's no possible, I have no idea what went wrong. I just know that I don't know how you managed it to delete *all* your spawn points.

[2022-11-30 17:38] OshidaBCF commented on #107
so 2^14 and -2^13 like i said...

Maybe the Y matter so i'll test around Y = 64, but like you i do not understand how this happened.

Maybe the "spawn reset" function doesn't properly work ?

[2022-11-30 17:38] MelanX commented on #107
![image](https://user-images.githubusercontent.com/26039509/204868980-d3f1a76a-3b3d-414b-b206-358c65b2d745.png)
This warning should appear.

[2022-11-30 17:39] MelanX commented on #107
Yes, I think resetting does the wrong thing.

[2022-11-30 17:40] OshidaBCF commented on #107
For the reset function ?

there was no warning, it just deleted the point and made a new one, while the GUI "remove" button gave me an error

I will ask the admin if he can tell me the "range" of the spawnpoint.

Where is the config file located by default ?
or named ?

[2022-11-30 17:45] MelanX commented on #107
No, this warning was for removing the spawn point by using the command. `/skyblock team spawns remove x y z`

The GUI gave you an error? But still removed it? Good to know, then I look at the wrong mod for this error.

The file is located in `config/skyblockbuilder/common-config.json5` or similiar.

[2022-11-30 17:46] OshidaBCF commented on #107
Ah no

When trying to remove a spawn point using the GUI the "remove" button would just tell me "you only have 1 spawn point, you can't do that"

While the /skyblock team spawns reset didn't gave me any warning and removed my spawnpoint.

[2022-11-30 18:08] MelanX commented on #107
I know the issue, it's in the reset command. Will fix it now. An admin or mod needs to edit the `skyblock_builder.dat` file to re-add your default spawns. If they need help for that, they can contact me via Discord (MelanX#7949), or here.

[2022-11-30 18:09] OshidaBCF commented on #107
Sweet, what was it ?
i'm curious

[2022-11-30 18:13] MelanX commented on #107
I cleared the object of a `Set`. This set was the original `Set`. I took this `Set` to set the `Set`s for the spawns and the default spawns. Before that, I cleared these both `Set`s. The `Set` I use to add the default spawns to both `Set`s would be cleared in this situation, too.
My fix: before I get the `Set`, I simply create a new `Set`.

So many sets... in only 6 se(n)tences.

[2022-11-30 18:14] OshidaBCF commented on #107
Setmate

S(we)et

[2022-11-30 18:19] #107 closed, assigned to nobody

[2022-11-30 18:25] OshidaBCF commented on #107
Can you notify me when you create a new version of the mod on curse ?

[2022-11-30 18:33] MelanX commented on #107
It's online

[2022-11-30 19:01] OshidaBCF commented on #107
well that was fast